$dark: #111;
$bright: #eee;

$s: 8px;
$m: 16px;
$l: 24px;
$xl: 32px;

$mobile: 640px;
$border: 2px solid $dark;

.ListBreakdown {
  display: flex;
  flex: 1 1 0;
  height: calc(100% - 44px);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  border-right: $border;

  &__details {
    width: 60%;
  }
  @media (max-width: $mobile) {
    display: block;
    flex: none;
    &__details, &__list {
      width: 100%;
      padding: $s;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px 0px 0px $l;
  background-color: $bright;
  color: $dark;
  flex-grow: 1;
  height: initial;

  @media (max-width: $mobile) {
    padding-left: 0px;
  }
}

a, a:visited {
  color: $dark;
  text-decoration: underline;
}

body.dark {
  background-color: $dark;
  color: $bright;
  a, a:visited {
    color: $bright;
  }
}


.Meter {
  display: flex;
  &__icon {
    font-size: 0.5rem;
    margin-right: 0px;
    filter: brightness(0);
  }
  &__text {
    font-variant-numeric: tabular-nums;
    text-align: right;
    flex-grow: 1;
    margin-left: auto;
  }
  &:first-child .Meter__graph {
    border-top: none;
  }
  &__graph {
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 2px solid $dark;
    border-right: none;
    margin-bottom: 1px;
    &__value {
      background-color: $dark;
      height: 100%;
    }
  }
  font-size: 0.9rem;
  &--small {
    font-size: 0.65rem;
    .Meter__text {
      flex-grow: 0;
    }
  }
}

.List {
  margin: 0px;
  padding: 0;
  padding-top: 44px;
  overflow-y: auto;
  margin-left: $s;
  border-left: $border;
  flex-grow: 1;
  margin-left: 320px;

  @media (max-width: $mobile) {
    margin-left: 0px;
    padding-top: 0px;
  }
}

.ListEntry {
  background-color: $bright;
  list-style-type: none;
  padding-bottom: $s;
  margin-top: -1px;
  border-top: $border;
  transition: filter linear 0.5s;
  scroll-margin-top: 50px;
  &:focus-within {
    filter: invert(1);
    transition: filter linear 0s;
  }
  &__data {
    display: flex;
    align-items: top;
    > *:not(:last-child) {
      margin-right: $s;
    }
  }
  &__extended {
    margin: $s;
  }
  &__details {
    display: block;
    padding-left: 0;
    padding-top: 0;
  }
  &__details__data {
    display: flex;

    >:first-child {
      font-weight: bold;
      min-width: 100px;
    }
    >:nth-child(2) {
      flex-grow: 1;
    }
  }
  &__placement {
    flex-shrink: 0;
    background-color: $dark;
    color: $bright;
    font-weight: bold;
    width: 28px;
    padding: 4px;
    text-align: right;
  }
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: $mobile) {
      white-space: initial;
    }
  }
  &__stats {
    flex-shrink: 0;
    margin-left: auto;
  }
  &__links {
    padding-left: 0px;
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
  &__extra-text {
    display: inline-block;
    margin-left: 2px;
    margin-right: 4px;
    font-size: 0.7rem;
  }
  &__link {
    font-size: 12px;
    font-weight: bold;
    margin: 0 4px;
    &--icon {
      margin: 0;
      display: inline-flex;
      align-items: center;
      height: 20px;
      padding: 1px 2px;
      &:hover, &:focus {
        background-color: white;
        filter: invert(1);
      }
      text-decoration: none;
      img {
        max-height: 18px;
        max-width: 50px;
        filter: brightness(0);
      }
    }
  }
}

.DataList {
  padding: $s;
  padding-top: 48px;
  padding-right: 0px;
  margin-top: 0px;
  width: 300px;
  flex-shrink: 0;
  position: fixed;

  @media (max-width: $mobile) {
    position: relative;
    flex-shrink: 0;
    min-width: initial;
    max-width: 300px;
    padding-right: $s;
  }
  dd {
    margin: 0px;
    margin-bottom: $s;
    button {
      padding: 0px;
      border: 0px;
      background-color: transparent;
      display: inline-block;
      text-align: left;;
    }
    .DataBlock__validator {
      font-size: 0.75rem;
    }
    .DataBlock__data, a {
      display: inline-block;
    }
  }
}

.Modal {
  background-color: $bright;
  border: $border;
  max-width: 320px;
  margin: 0 auto;
  padding: $l;
  position: relative;
  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: $xl;
    width: $xl;
    border: none;
    border-left: $border;
    border-bottom: $border;
    background-color: $dark;
    color: $bright;
    font-weight: bold;
  }
  &-bg {
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
  }
}

.matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__option {
    width: 85px;
  }
  &__option--unranked {
    margin-left: auto;
    text-align: left;
    .matrix__rank {
      width: initial;
    }
    width: 135px;
  }
  &__rank, &__input {
    display: inline-block;
    text-align: right;
    font-variant-numeric: tabular-nums;
    width: 20px;
  }
  &__input {
    width: 60px;
  }

}

.wasAMarquee {
  z-index: 5;
  position: fixed;
  width: 140vh;
  bottom: 0px;
  left: 0px;
  height: $l;
  transform-origin: $l/2;
  transform: rotate(-90deg);
  background-color: #111;
  z-index: 10;
  color: white;
  overflow: scroll;
  white-space: nowrap;
  padding-left: $s;
  display: flex;
  align-content: center;
  a, a:visited {
    color: white;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.Landing {
  padding-top: 50px;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  overflow: scroll;
}

.nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  padding: 2px 0px;
  width: 100%;
  left: 0px;
  background-color: $bright;
  align-content: center;
  border-bottom: $border;
  overflow: hidden;
  z-index: 10;
  &__button {
    &--active {
      border-color: $bright;
      filter: invert(100%);
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
  >* {
    min-height: 40px;
  }
  &__main {
    display: flex;
    width: 100%;
    >:nth-child(2) {
      margin-left: auto;
      flex-shrink: 0;
    }
  }
  &__sort-data, &__filter-data {
    display: inline-block;
    text-transform: capitalize;
    &:not(:last-child) {
      &:after {
        content: '. ';
      }
    }
  }

  select, button {
    max-width: calc(33vw - 8px);
    margin-right: $s;
    padding-top: 0px;
    padding-bottom: 0px;
  };
  &__options {
    margin-left: auto;
    &__title {
      text-align: right;
      width: 80px;
      text-transform: capitalize;
      margin-right: $s;
    }
    &__select {
      width: 150px;
      height: 40px;
    }
  }
  ul {
    display: block;
    padding-left: $l;
    li {
      align-items: center;
      align-content: center;
      display: flex;
      margin-bottom: $s;
      margin-left: auto;
    }
  }
}

button, select, input {
  color: $dark;
  background-color: white;
  border: $border;
  margin-right: 0px;
}
button, select {
  font-weight: bold;
  margin-bottom: 0px;
}

.tabularNumber {
  font-variant-numeric: tabular-nums;
}