$dark: #111;
$bright: #eee;

$xs: 4px;
$s: 8px;
$m: 16px;
$l: 24px;
$xl: 32px;

$mobile: 800px;
$mobilePortrait: 400px;
$borderWidth : 2px;
$border: $borderWidth solid $dark;
$borderDash: $borderWidth dashed $dark;

@keyframes flash {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}

@mixin list-add-bg {
  background-image: url('/icons/list-add.svg');
  background-size: 20px 20px;
  background-position: 0px 0px;
  background-color: $bright;
  outline: 2px solid $bright;
  filter: invert(1);
}

body {
  margin: 0px;
  padding: 0px 0px 0px $l;
  background-color: $bright;
  color: $dark;

  @media (max-width: $mobile) {
    padding-left: 0px;
  }
}

a, a:visited {
  color: $dark;
  text-decoration: underline;
}

body.dark {
  background-color: $dark;
  color: $bright;
  a, a:visited {
    color: $bright;
  }
}

$dataListWidth: 400px;

.ListBreakdown {
  display: flex;
  margin-top: 52px;
  flex-direction: row;
  max-width: 1400px;
  margin-left: auto;

  &__loading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), white 99%);
    box-shadow: inset 0 0 50px 10px $bright;
    backdrop-filter: blur(2px);
    z-index: 100;
    font-size: 2rem;
    font-weight: bold;
  }
  &__details {
    width: 60%;
  }
  @media (max-width: $mobile) {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    &__details, &__list {
      width: 100%;
      padding: $s;
    }
  }
}

.DataList {
  padding: $s;
  padding-right: 0px;
  margin-top: 0px;
  max-width: $dataListWidth;
  margin-left: auto;

  dl {
    position: sticky;
    top: 54px;
  }

  @media (max-width: $mobile) {
    position: relative;
    flex-shrink: 0;
    width: initial;
    padding-right: $s;
    max-width: 100%;
  }

  dd {
    margin: 0px;
    margin-bottom: $s;
    button {
      padding: 0px;
      border: 0px;
      background-color: transparent;
      display: inline-block;
      text-align: left;
    }
    .DataBlock__validator {
      font-size: 0.75rem;
    }
    .DataBlock__data, a {
      display: inline-block;
    }
  }
}

.List {
  margin: 0px;
  padding: 0;
  margin-left: $s;
  flex-grow: 1;
  max-width: 66vw;

  &--hide-known .Entry--known {
    display: none;
  }
  &--hide-interested .Entry--interested {
    display: none;
  }
  &--hide-uninterested .Entry--uninterested {
    display: none;
  }

  @media (max-width: $mobile) {
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    max-width: 100%;
    overflow-y: hidden;
  }
}

.Entry {
  $block: &;
  padding-bottom: 4px;
  background-color: $bright;
  list-style-type: none;
  border-top: $border;
  transition: filter linear 0.5s;
  scroll-margin-top: 50px;
  box-shadow: inset 2px 0px 0px $dark;
  &:first-child {
    @media (min-width: $mobile + 1px) {
      border-top: none;
    }
  }
  &:focus-within {
    transition: filter linear 0s;
    animation: 1s flash;
  }
  &__core {
    display: flex;
    > * {
      margin-right: $s;
    }
  }
  &__placement {
    flex-shrink: 0;
    background-color: $dark;
    color: $bright;
    font-weight: bold;
    width: 28px;
    padding: 4px;
    text-align: right;
    position: relative;
  }
  &__body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
      white-space: initial;
    }
    &-row--title {
      margin-top: $s;
      margin-bottom: $s;
    }
    &-row--actions {
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
      align-items: center;
      > * { margin: $s 0 0; }
      @media (max-width: $mobilePortrait) {
        display: block;
      }
    }
  }
  &__subtitle {
    display: inline-block;
  }
  &__points {
    min-height: 56px;
    display: grid;
    grid: auto 18px auto / repeat(2, 40px);
    margin-right: $m;
    margin-top: $s;
    @media (max-width: $mobile) {
      grid: auto / repeat(1, 60px);
    }
  }
  &__links {
    padding-left: 0px;
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    flex-wrap: wrap;
    @media (max-width: $mobilePortrait) {
      display: block;
    }
    &--search .ExternalLink.ExternalLink--icon {
      width: initial;
      margin: $xs;
    }
  }
  &__checkboxes {
    display: inline-flex;
    .Checkbox {
      position: relative;
      width: 20px;
      height: 20px;
      input[type=checkbox] { opacity: 0; }
      label {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top:0px;
        left: 0px;
        z-index: 15;
      }
      &.ooh {
        padding: 0px 2px;
        border: 2px solid $dark;
        height: 18px;
        width: 20px;
        label {
          background-image: url('/icons/list-add.svg');
          background-size: 24px;
          background-color: $bright;
        }
        :checked + label {
          filter: invert(1);
        }
      }
      &.meh {
        label { background-image: url('/icons/cross-outline.png'); }
        :checked + label { background-image: url('/icons/cross-fill.png'); }
      }
      &.yep {
        label { background-image: url('/icons/tick-outline.png'); }
        :checked + label { background-image: url('/icons/tick-fill.png'); }
      }
      &:not(:last-child) {
        margin-right: $m;
      }
      &:hover, &:focus {
        label::after {
          position: absolute;
          bottom: 0px;
          padding-bottom: 100%;
          left: 50%;
          transform: translate(-50%, 10%);
          padding: $s;
          outline: $borderDash;
          background: linear-gradient(to bottom, $bright, $bright 20px, transparent 20px);
          font-size: 0.7rem;
          content: attr(data-hover);
          z-index: 10;
          height: 36px;
        }
        &.ooh :checked + label::after{
          filter: invert(1);
        }
      }
    }
  }
  // TODO make link component
  .ExternalLink {
    font-size: 12px;
    font-weight: bold;
    margin: 2px 2px 2px 0px;
    &--icon {
      display: inline-flex;
      align-items: center;
      height: 20px;
      padding: $xs;
      width: 100px;
      border: 1px dashed $dark;
      &.ExternalLink--imdb {
        width: 105px;
      }
      &:hover, &:focus {
        border-color: transparent;
        outline: $borderDash;
        outline-offset: -1px;
      }
      text-decoration: none;
      img {
        max-height: 18px;
        max-width: 70px;
        filter: brightness(0);
      }
      .album & {
        width: 80px;
      }
      .ExternalLink__search-icon {
        margin-left: auto;
      }
    }


    &__extra-text {
      display: inline-block;
      margin-left: 2px;
      margin-right: 4px;
      font-size: 0.7rem;
    }
    @media (max-width: $mobile) {
      max-width: 80%;
      width: 100px;
      border: 1px solid $dark;
      &__extra-text {
        margin-left: auto;
      }
    }

    @media (max-width: $mobilePortrait) {
      display: flex;
      width: 115px !important;
      max-width: initial;
    }
  }
  &__extended {
    margin-top: $xs;
    padding: $s $m $m 42px;
    border-top: 2px dashed $dark;
    @media (max-width: $mobile) {
      padding: $s $m $m;
    }
  }
  &__display-details {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -$s;
    font-weight: normal;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: $bright;
    width: 100%;
    height: 20px;
    background-image: url(/icons/expand.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    &.extend {
      background-image: url(/icons/collapse.svg);
    }
  }
  &__details {
    display: block;
    padding-left: 0;
    padding-top: 0;
  }
  &__poster {
    float: right;
    border: 2px solid $dark;
    background-color: $dark;
    margin-right: -$s;
  }
  &__details__data {
    display: flex;

    >:first-child {
      font-weight: bold;
      min-width: 85px;
    }
    >:nth-child(2) {
      flex-grow: 1;
    }
    @media (max-width: $mobile) {
      display: block;
      >div {
        display: block;
      }
    }
  }
}

.InterestedList {
  $gutters: $m;
  display: grid;
  grid: auto /repeat(3, minmax(200px, 1fr));
  margin: $m;
  padding: 0px;
  grid-gap: $gutters;
  .InterestedCard {
    position: relative;
    border: none;
    outline: 2px dashed $dark;
    padding: $m;
    &__heading {
      display: block;
    }
    &__subtitle, &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      margin-bottom: $s;
    }
    &__actions {
      float: right;
      overflow: hidden;
      width: 40px;
      margin-top: -$m - $borderWidth;
      margin-right: -$m - $borderWidth;
    }
    &__remove {
      width: 40px;
      height: 40px;
      background-color: $bright;
      background-position: center;
      background-size: 22px;
      background-repeat: no-repeat;
      &:hover {
        border-style: dashed;
      }
      &--list {
        background-image: url('/icons/list-add.svg');
        background-size: 20px 20px;
        border-color: $bright;
        filter: invert(1);
        &:hover {
          filter: invert(0);
          border-color: $dark;
        }
      }
      &--known {
        background-image: url(/icons/tick-outline.png);
        &:hover, &.marked {
          background-image: url(/icons/tick-fill.png);
        }
      }
      + * {
        margin-top: -$borderWidth;
      }
    }
    &__details {
      margin-top: $m;
      list-style-type: none;
      padding: 0px;
      li {
        display: flex;
        
        strong {
          display: inline-block;
          width: 80px;
          flex-shrink: 0;
        }
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-grow: 1;
        }
      }
    }
    &__undo-wrapper {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(2px);
      top: -$borderWidth;
      left: -$borderWidth;
      width: 100%;
      height: 100%;
      text-align: center;
      border: $border;
      p {
        margin-top: 0px;
        padding: $m;
        background-color: $bright;
        box-shadow: 0px 0px 5px $bright;
      }
    }
  }
  @media (max-width: $mobile) {
    display: block;
    .InterestedCard {
      width: calc(100% - #{$gutters * 2});
    }
  }

}


.ListEntryDataPoint {
  display: inline-block;
  font-variant-numeric: tabular-nums;
  text-align: right;
  background-color: $bright;
  font-size: 0.9rem;
  &--small {
    font-size: 0.65rem;
    white-space: nowrap;
    &::after {
        display: inline-block;
        font-size: 0.5rem;
        margin-right: 0px;
        text-align: right;
        filter: brightness(0);
        width: 12px;
        content: attr(icon);
        font-weight: bold;
        @media (max-width: $mobilePortrait) {
          display: block;
          margin-left: auto;
          width: initial;
          content: attr(data-description);
        }
    }
  }
  &--heading {
    grid-column: 1/3;
    text-align: right;
    @media (max-width: $mobile) {
      grid-column: 1;
    }
  }
}

.Modal {
  background-color: $bright;
  border: $border;
  max-width: 320px;
  margin: 0 auto;
  padding: $l;
  position: relative;
  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: $xl;
    width: $xl;
    border: none;
    border-left: $border;
    border-bottom: $border;
    background-color: $dark;
    color: $bright;
    font-weight: bold;
  }
  &-bg {
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
  }
}

.wasAMarquee {
  position: fixed;
  width: 140vh;
  bottom: 0px;
  left: 0px;
  height: $l;
  transform-origin: $l/2;
  transform: rotate(-90deg);
  background-color: #111;
  z-index: 150;
  color: white;
  overflow: scroll;
  white-space: nowrap;
  padding-left: $s;
  display: flex;
  align-content: center;
  a, a:visited {
    color: white;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.Landing {
  padding: 20px;
  padding-top: 52px;
  h2, p, div, ul, ol {
    max-width: 800px;
  }
  overflow: scroll;
  .yearList {
    font-variant-numeric: tabular-nums;
    display: inline-block;
    width: 240px;
    ul {
      padding-left: $m;
      margin-top: 0;
    }
    .yearLink {
      display: inline-block;
      width: 50px;
    }
  }
}

.nav {
  position: fixed;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 0px;
  background-color: $bright;
  align-content: center;
  border-bottom: $border;
  z-index: 90;
  width: calc(100vw - #{$l});
  @media (max-width: $mobile) {
    width: 100%;
  }
  &__button {
    &--active {
      border-color: $bright;
      filter: invert(100%);
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
  >* {
    min-height: 40px;
  }
  &__main {
    display: flex;
    width: 100%;
    height: 50px;
    &__home {
      display: block;
      background-color: $dark;
      color: $bright !important;
      font-size: 20px;
      font-weight: bold;
      padding: $s;
      margin-left: auto;
      margin-right: $xs;
      text-decoration: none;
      span {
        filter: brightness(0) invert(1);
      }
      @media (max-width: $mobile) {
        margin: 0px;
      }
    }
    &__data {
      margin-right: $s;
      margin-left: $xs;
      text-align: right;
      align-self: center;
      @media (max-width: $mobile) {
        font-size: 12px;
        text-align: left;
        margin-left: $xs;
        margin-right: auto;
      }
    }
  }
  &__data{
    span:not(:last-child)::after {
      content: '/ ';
    }

    div.nav__data__filter {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-position: center;
      background-size: 14px;
      background-repeat: no-repeat;
      &--interested { @include list-add-bg(); background-size: 14px; }
      &--uninterested { background-image: url('/icons/cross-fill.png');}
      &--known { background-image: url('/icons/tick-fill.png'); }
    }
  }

  select, button {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: $xs $s $xs 0;
    background-color: $bright;
    min-width: 35px;
  
    @media (max-width: $mobile) {
      margin-right: $xs;
      font-size: 12px;
    }
  };
  &__options {
    position: absolute;
    top: 100%;
    right: 0px;
    text-align: right;
    background-color: $bright;
    margin-left: auto;
    border: 2px solid $dark;
    border-top: 2px dashed $dark;
    border-right: none;
    padding-right: $s;
    &__title {
      text-align: right;
      width: 80px;
      text-transform: capitalize;
      margin-right: $s;
    }
    &__select {
      width: 150px;
      height: 40px;
    }
    &__toggle {
      display: flex;
      flex-direction: row-reverse;
      margin: $m 0 $m;
      input {
        margin-bottom: 0px;
        margin-left: $xs;
      }
      label {
        display: flex;
        align-items: center;
      }
      label::after {
        content: '';
        margin: 0px $xs;
        background-size: 16px 16px;
        background-position: center;
        width: 20px;
        height: 18px;
        background-repeat: no-repeat;
      }
      &--yep label::after {
          background-image: url('/icons/tick-fill.png');
      }
      &--meh label::after {
        background-image: url('/icons/cross-fill.png');
      }
      &--ooh label::after {
        @include list-add-bg;
      }
    }
  }
  ul {
    display: block;
    padding-left: $l;
    li {
      align-items: center;
      align-content: center;
      display: flex;
      margin-bottom: $s;
      margin-left: auto;
    }
  }
}

button, select, input {
  color: $dark;
  background-color: white;
  border: $border;
  margin-right: 0px;
}
button, select {
  font-weight: bold;
  margin-bottom: 0px;
}

// hacky means to include text where icons are used as bg img
.a11y {
  display: block;
  position: absolute;
  left: -10000px;
}
